@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #3B39CB;
  --bg-negative: #FBE6E4;
  --negative: #D92D20;
  --bg-positive: #E6FAF0;
  --positive: #32D583;
  --footer: #F5F5F7;
  --font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-bg-negative: var(--bg-negative);
  --color-negative: var(--negative);
  --color-bg-positive: var(--bg-positive);
  --color-positive: var(--positive);
  --color-footer: var(--footer);
}

html {
  font-family: var(--font-plus-jakarta), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}
